@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<searchworks.client.Company.CompanyInformation>

@{
    ViewBag.Title = "MIE Document";
}



<div class="col-md-10 col-sm-10">
    <div class="seaTab">
        <div class="col-md-6 col-sm-6">
            <div class="sea">

            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="sea">
                <div class="opt1">
                    <div class="exp">Export List </div>
                    <div class="create">Create Group</div>
                    <div class="history"><i class="fa fa-history"></i>History</div>
                </div>
            </div>
        </div>
    </div>



    <div class="seaTable form-style-9">
        <form action="" method="POST">
            <h3 class="Trans">XDS Documents</h3>
            <ul>
                <li>
                    <input type="text" class="field-style field-split align-left" id="ref" name="ref" placeholder="Reference">
                    <input type="text" class="field-style field-split align-right" id="CompanyName" name="CompanyName" placeholder="Company Name">
                </li>
                <li>
                    <input type="text" class="field-style field-split align-left" id="RegistrationNumber" name="RegistrationNumber" placeholder="Registration Number">
                    <input type="text" class="field-style field-split align-right" id="Initials" name="Initials" placeholder="Initials">
                </li>
                <li>
                    <input type="text" class="field-style field-split align-left" id="Surname" name="Surname" placeholder="Surname">
                    <input type="text" class="field-style field-split align-right" id="Firstname" name="Firstname" placeholder="First Name">
                </li>
                <li>
                    <input type="text" class="field-style field-split align-left" id="IDNumber" name="IDNumber" placeholder="ID Number">
                    <input type="text" class="field-style field-split align-right" id="AccountNumber" name="AccountNumber" placeholder="Account Number">
                </li>
                <li>
                    <input type="text" class="field-style field-split align-left" id="BranchCode" name="BranchCode" placeholder="Branch Code">
                    <input type="text" class="field-style field-split align-right" id="AccountType" name="AccountType" placeholder="Account Type">
                </li>
                <li>
                    <input type="text" class="field-style field-split align-left" id="BankName" name="BankName" placeholder="Bank Name">
                    <input type="text" class="field-style field-split align-right" id="ClientFirstname" name="ClientFirstname" placeholder="Client Firstname">
                </li>
                <li>
                    <input type="text" class="field-style field-split align-left" id="ClientSurname" name="ClientSurname" placeholder="Client Surname">
                    <input type="text" class="field-style field-split align-right" id="ClientEmailAddress" name="ClientEmailAddress" placeholder="Client Email Address">
                </li>
                <li>
                    <input type="submit" class="reset" id="btnS" name="xdsSubmit" value="Submit">
                </li>
            </ul>
        </form>
    </div>

</div>


<script>
    function Search() {
                        $.ajax(
                        {
                            type: "POST",
                            url: '@Url.Action("GetCompanyResults", "Home")',
                                data: {
                                    companyName: $('#comName').val(),

                                },
                            dataType: "text",
                                error: function (result) {
                                    alertMessage = '<div class="alert alert-success" role="alert">'
                                        + 'Account Created </div>';

                                    $(".resturn-message").html(alertMessage)





                            },
                                success: function (result) {

                             var alertMessage = '<div class="alert alert-success" role="alert">'
                                        + 'Right Usename/Password</div>';

                                    $(".resturn-message").html(alertMessage)

                                    //alert(result.user_type);

                                    debugger;



                          if (result.status == true) {

                                        if (result.user_type === "client") {

                                            console.log(result);

                                            window.location.href = '@Url.Action("SubmissionStep2", "Checks")';

                                        }
                                        else if (result.user_type === "admin") {
                                             window.location.href = '@Url.Action("Admin_S", "Dashboard")';
                                        }


                            }
                            else {

                                var alertMessage = '<div class="alert alert-danger" role="alert">'
                                    + 'Invalid Usename/Password</div>';

                                $(".resturn-message").html(alertMessage)

                                alert(result.message);
                            }
                            }
                        });
                        }

</script>