@{
    Layout = null;
}

<!DOCTYPE html>
@{
    ViewBag.Title = "CIPC Company Details";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CIPC Company Details</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
