
.vs/searchworks/config/applicationhost.config
.vs/searchworks/v16/.suo
*.dll
*.pdb
*.cache
*.cache
*.txt
*.cache
*.cache
*.dll
*.pdb
.vs/searchworks/v16/.suo
*.dll
*.pdb
*.cache
searchworks.client/bin/searchworks.client.dll
searchworks.client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
searchworks.client/obj/Debug/searchworks.client.csproj.GenerateResource.cache
*.cache
searchworks.client/obj/Debug/searchworks.client.csprojAssemblyReference.cache
searchworks.client/obj/Debug/searchworks.client.dll
searchworks.client/obj/Debug/searchworks.client.pdb
.vs/searchworks/v16/.suo
.vs/searchworks/v16/.suo
.vs/searchworks/v16/.suo
*.cache~emmanuelbranch
