/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Aug 24, 2018, 11:26:27 AM
    Author     : Dawn Chikoki
*/
@font-face {
    font-family: 'AvenirNext';
    font-style: normal;
    src: local('AvenirNext'), url(../fonts/AvenirNext.ttc) format('truetype');
}

@font-face {
    font-family: 'arialr';
    font-style: normal;
    src: local('arialr'), url(../fonts/arialr.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueBd';
    font-style: normal;
    src: local('HelveticaNeueBd'), url(../fonts/HelveticaNeueBd.ttf) format('truetype');
}

/* ============================================Header=================================================================== */

.header {
    height: 72px;
    background-color: #ddddde;
    margin-top: 0px;
}

    .header .logo {
        width: 190px;
        display: inline-block;
        margin: 0;
        margin-left: 2px;
    }

    .header .search {
        position: relative;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        width: 222px;
        height: 73px;
        background-color: white;
        text-align: center;
        color: black;
        font-size: 16px;
        font-weight: normal;
        top: -8px;
        left: 40px;
        border-bottom: 8px solid #00A0FF;
        padding-top: 20px;
        font-family: 'arialr';
        font-weight: 500;
    }

    .header .men {
        margin-right: 0px;
    }

    .header .menu {
        padding: 0;
        list-style-type: none;
        position: relative;
    }

    .header .menubtn {
        float: right;
        margin: 0 10px;
        border-left: 1px solid #979797;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
    }

        .header .menubtn img {
            width: 71px;
            margin-left: 17px;
        }

    .header .me {
        font-size: 17px;
        padding-top: 25px;
        padding-left: 20px;
        height: 72px;
        
        text-align: center;
        vertical-align: middle;
        color: #313C50;
        font-family: 'AvenirNext';
    }

/* ============================================ Side Menu =================================================================== */

.sidenav {
    background-color: #263245;

    /*height: 100vh;*/
}

    .sidenav .office {
        width: 175px;
        height: 35px;
        background: #35B700;
        padding: 11px;
        font-size: 10px;
        color: white;
        text-align: center;
        border-radius: 2px;
        margin-top: 32px;
        margin-bottom: 20px;
    }

.jquery-accordion-menu, .jquery-accordion-menu {
    font-family: 'Open Sans',sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0;
    margin-bottom: 207px;
}

.jquery-accordion-menu {
    min-width: 200px;
    float: left;
    position: relative;
    left: -10px;
}

    .jquery-accordion-menu .jquery-accordion-menu-footer, .jquery-accordion-menu .jquery-accordion-menu-header {
        width: 100%;
        height: 50px;
        padding-left: 22px;
        float: left;
        line-height: 50px;
        font-weight: 600;
        color: #f0f0f0;
    }

    .jquery-accordion-menu ul {
        margin: 0;
        padding: 0;
        list-style: none
    }

        .jquery-accordion-menu ul li {
            width: 100%;
            display: block;
            float: left;
            position: relative;
            background: transparent;
        }

            .jquery-accordion-menu ul li a {
                width: 100%;
                padding: 14px 22px;
                float: left;
                text-decoration: none;
                color: #8A99B9;
                font-size: 12px;
                font-weight: 600;
                white-space: nowrap;
                position: relative;
                overflow: hidden;
                -o-transition: color .2s linear, background .2s linear;
                -moz-transition: color .2s linear, background .2s linear;
                -webkit-transition: color .2s linear, background .2s linear;
                transition: color .2s linear, background .2s linear
            }

    .jquery-accordion-menu > ul > li.active > a, .jquery-accordion-menu > ul > li:hover > a {
        color: #fff;
        background: rgba(105, 137, 165, 0.6);
    }

    .jquery-accordion-menu > ul > li > a {
        border-bottom: solid 1px #3b424d
    }

    .jquery-accordion-menu ul li a i {
        width: 34px;
        float: left;
        line-height: 18px;
        font-size: 16px;
        text-align: left
    }

    .jquery-accordion-menu .submenu-indicator {
        float: right;
        right: 22px;
        position: absolute;
        line-height: 19px;
        font-size: 20px;
        -o-transition: transform .3s linear;
        -moz-transition: transform .3s linear;
        -webkit-transition: transform .3s linear;
        -ms-transition: transform .3s linear
    }

    .jquery-accordion-menu ul ul.submenu .submenu-indicator {
        line-height: 16px
    }

    .jquery-accordion-menu .submenu-indicator-minus > .submenu-indicator {
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .jquery-accordion-menu ul ul.submenu, .jquery-accordion-menu ul ul.submenu li ul.submenu {
        width: 100%;
        display: none;
        position: static
    }

        .jquery-accordion-menu ul ul.submenu li {
            clear: both;
            width: 100%
        }

            .jquery-accordion-menu ul ul.submenu li a {
                width: 100%;
                float: left;
                font-size: 11px;
                border-top: none;
                position: relative;
                border-left: solid 6px transparent;
                -o-transition: border .2s linear;
                -moz-transition: border .2s linear;
                -webkit-transition: border .2s linear;
                transition: border .2s linear
            }

            .jquery-accordion-menu ul ul.submenu li:hover > a {
                border-left-color: #414956
            }

        .jquery-accordion-menu ul ul.submenu > li > a {
            padding-left: 30px
        }

        .jquery-accordion-menu ul ul.submenu > li > ul.submenu > li > a {
            padding-left: 45px
        }

        .jquery-accordion-menu ul ul.submenu > li > ul.submenu > li > ul.submenu > li > a {
            padding-left: 60px
        }

        .jquery-accordion-menu ul li .jquery-accordion-menu-label, .jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
            min-width: 20px;
            padding: 1px 2px 1px 1px;
            position: absolute;
            right: 18px;
            top: 14px;
            font-size: 11px;
            font-weight: 800;
            color: #555;
            text-align: center;
            line-height: 18px;
            background: #f0f0f0;
            border-radius: 100%
        }

        .jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
            top: 12px
        }

.ink {
    display: block;
    position: absolute;
    background: rgba(255,255,255,.3);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.animate-ink {
    -webkit-animation: ripple .5s linear;
    -moz-animation: ripple .5s linear;
    -ms-animation: ripple .5s linear;
    -o-animation: ripple .5s linear;
    animation: ripple .5s linear
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5)
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5)
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5)
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5)
    }
}

/* ============================================ Search Tab =================================================================== */

.seaTab {
    width: 100%;
    height: 62px;
    background: #E4E9ED;
    border: 0.7px solid #8A99B9;
    border-radius: 1px;
    position: relative;
    top: 10px;
    display: none;
}

.sea {
    margin-top: 15px;
}

.frm {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.sea label {
    font-size: 10px;
}

.sea .sea-input {
    border: 1px solid #979797;
    width: 181px;
    height: 31px;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 12px;
}

.seaTable .sea-input {
    border: 1px solid #979797;
    width: 181px;
    height: 31px;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 14px;
}

.sea .opt {
    display: inline-block;
    margin-left: 10px;
}

#btnS {
    border: none;
}

.sea .opt button {
    border: none;
}

.sea .opt .reset {
    width: 69px;
    height: 31px;
    background: #e8910d;
    font-family: 'arialr';
    border-radius: 4px;
    position: relative;
    display: inline-block;
    padding: 9px;
    top: 0px;
    color: white;
    text-align: center;
    font-size: 12px;
}

.sea .opt .filter {
    width: 69px;
    height: 31px;
    background: #e8910d;
    font-family: 'arialr';
    border-radius: 4px;
    position: relative;
    padding: 9px;
    display: inline-block;
    top: 0px;
    text-align: center;
    font-size: 12px;
    color: white;
}

.sea .opt .cal {
    width: 69px;
    height: 31px;
    background: #e8910d;
    font-family: 'arialr';
    border-radius: 4px;
    position: relative;
    padding: 9px;
    display: inline-block;
    top: 0px;
    text-align: center;
    font-size: 12px;
    color: white;
}

.sea .opt1 {
    display: inline-block;
    float: right;
}

    .sea .opt1 .exp {
        width: 97px;
        height: 31px;
        background: #50E366;
        font-family: 'arialr';
        border-radius: 4px;
        position: relative;
        display: inline-block;
        padding: 9px;
        top: 0px;
        text-align: center;
        font-size: 12px;
        color: #FFFFFF;
    }

    .sea .opt1 .create {
        width: 97px;
        height: 31px;
        background: #CA50E3;
        border-radius: 4px;
        position: relative;
        padding: 9px;
        display: inline-block;
        top: 0px;
        text-align: center;
        font-size: 12px;
        color: #FFFFFF;
    }

    .sea .opt1 .history {
        width: 97px;
        height: 31px;
        background: #26BFE7;
        font-family: 'arialr';
        border-radius: 4px;
        position: relative;
        padding: 9px;
        display: inline-block;
        top: 0px;
        text-align: center;
        font-size: 12px;
        color: #FFFFFF;
    }

/* ============================================ Search Table =================================================================== */

.seaTable {
    margin-top: 30px !important;
}

table .head {
    background: #263245;
    color: white;
    font-size: 10px;
    text-align: left;
}

table td {
    color: #263245;
    font-size: 10px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #DFE3E9;
    color: #263245;
}

.table {
}

/* -------------------------------------- */
.form-style-9 {
    background: #FAFAFA;
    padding-right: 45%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

    .form-style-9 ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .form-style-9 ul li {
            display: block;
            margin-bottom: 10px;
            min-height: 35px;
        }

            .form-style-9 ul li .field-style {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                padding: 8px;
                outline: none;
                border: 1px solid #B0CFE0;
                border-radius: 3px;
                -webkit-transition: all 0.30s ease-in-out;
                -moz-transition: all 0.30s ease-in-out;
                -ms-transition: all 0.30s ease-in-out;
                -o-transition: all 0.30s ease-in-out;
            }

                .form-style-9 ul li .field-style:focus {
                    box-shadow: 0 0 5px #B0CFE0;
                    border: 1px solid #B0CFE0;
                }

            .form-style-9 ul li .field-split {
                width: 49%;
            }

            .form-style-9 ul li .field-full {
                width: 100%;
            }

            .form-style-9 ul li input.align-left {
                float: left;
            }

            .form-style-9 ul li input.align-right {
                float: right;
            }

            .form-style-9 ul li textarea {
                width: 100%;
                height: 100px;
            }

            .form-style-9 ul li input[type="button"],
            .form-style-9 ul li input[type="submit"] {
                -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
                -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
                box-shadow: inset 0px 1px 0px 0px #3985B1;
                background-color: #216288;
                border: 1px solid #17445E;
                display: inline-block;
                cursor: pointer;
                float: right;
                color: #FFFFFF;
                padding: 8px 18px;
                text-decoration: none;
                font: 12px Arial, Helvetica, sans-serif;
            }

                .form-style-9 ul li input[type="button"]:hover,
                .form-style-9 ul li input[type="submit"]:hover {
                    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
                    background-color: #28739E;
                }

/*
.bord{
    border: 1px solid black;
} */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.deleteBtn {
    background-color: transparent;
    border: 0;
    width: 25%;
    float: right;
    padding: 8px;
    font-weight: bold;
}

.updateBtn {
    background-color: #1C98D9;
    border: 0;
    width: 25%;
    float: right;
    padding: 8px;
    font-weight: bold;
    color: white;
}

.modal-content > ul {
    width: 90%;
    /*    border: 1px solid red;*/
    list-style: none;
    padding-left: 0;
    margin-left: 21px;
}

li > .fifinput1 {
    width: 11%;
    list-style: none;
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #B0CFE0;
}

.fifinput2 {
    width: 43.7%;
    list-style: none;
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #B0CFE0;
}

.fifinput3 {
    width: 49.5%;
    list-style: none;
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #B0CFE0;
}

.fifinput4 {
    width: 32.87%;
    list-style: none;
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #B0CFE0;
}

.list{
    height: 30px !important;
}

.person{
    border-right: 0.5px solid grey;
}



.loader {
    /*border: 16px solid #f3f3f3;
    border-radius: 50%;*/
    border-top: 6px solid #0087FF;
    /*border-bottom: 16px solid #FF6100;
    width: 120px;*/
    height: 16px;
    -webkit-animation: spin 2s linear 1;
    animation: spin 60s linear 1;
    width: 1vw;
    margin-left: -253px;
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: scaleX(0);
    }

    25% {
        -webkit-transform: scaleX(50);
    }

    50% {
        -webkit-transform: scaleX(100);
    }

    75% {
        -webkit-transform: scaleX(150);
    }

    100% {
        -webkit-transform: scaleX(200);
    }
}

.thatrow {
    width: 100%;
    /*max-width: 99%;
    margin-bottom: 20px;*/
}

.col_header {
    width: 12%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 8px;
    font-weight: bold;
}

.colspace {
    width: 12%;
    padding: 8px;
    font-size: 10px;
    float: left;
    border-bottom: 1px solid;
    line-height: 2;
    max-height: 30px;
    overflow: hidden;
}

.col_headerTel {
    width: 20%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 8px;
    font-weight: bold;
}

.colspaceTel {
    width: 20%;
    padding: 8px;
    font-size: 10px;
    float: left;
    border-bottom: 1px solid;
    line-height: 2;
    max-height: 30px;
    overflow: hidden;
}

.col_header5 {
    width: 14%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 8px;
    font-weight: bold;
}

.colspace5 {
    width: 14%;
    padding: 8px;
    font-size: 10px;
    float: left;
    border-bottom: 1px solid;
    line-height: 2;
    max-height: 30px;
    overflow: hidden;
}



.col_header1 {
    width: 23%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 8px;
    font-weight: bold;
}

.colspace1 {
    width: 23%;
    padding: 8px;
    font-size: 10px;
    float: left;
    border-bottom: 1px solid;
    line-height: 2;
    max-height: 30px;
    overflow: hidden;
}

.col_headerEM {
    width: 26%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 8px;
    font-weight: bold;
}

.colspaceEM {
    width: 26%;
    padding: 8px;
    font-size: 10px;
    float: left;
    border-bottom: 1px solid;
    line-height: 2;
    max-height: 30px;
    overflow: hidden;
}




.col_header2 {
    width: 26%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 8px;
    font-weight: bold;
}

.colspace2 {
    width: 26%;
    padding: 8px;
    font-size: 10px;
    float: left;
    border-bottom: 1px solid;
    line-height: 2;
    max-height: 30px;
    overflow: hidden;
}




.colspace :nth-child(even) {

   background-color: #DFE3E9;
}

.colspace1 :nth-child(even) {
    background-color: #DFE3E9;
}

.colspace2 :nth-child(even) {
    background-color: #DFE3E9;
}

.export img {
    width: 71px;
    margin-left: 17px;
    position: relative;
    margin-top: -76px;
    float: right;
}