@font-face {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins-SemiBold'), url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins-Medium'), url(../fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins-Regular'), url(../fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins-Bold'), url(../fonts/Poppins-Bold.ttf) format('truetype');
}

.heading {
    color: white;
    float: left;
    display: inline
}

.heading1 {
    float: left;
    align-self: center
}

.headingFix {
    justify-content: center;
    display: flex;
    border-width: 1px;
    border-color: red;
}

#heading3 {
    display: flex;
    align-content: center;
    background: #212529 0% 0% no-repeat padding-box;
    height: 40px;
    width: 96.5%;
    align-self: center;
    padding-top: 9px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
}

.textBox {
}

.sea {
    position: relative;
    top: 10px;
    left: 13px;
    width: 192px;
    height: 48px;
    text-align: center;
    font-family: 'Poppins-Bold';
    font-size: 12px;
    background: #AAAAAA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #AAAAAA00;
    border-radius: 20px;
    padding-top: 15px;
    color: white;
    opacity: 1;
    display: inline-block;
    margin-right: 16px;
}
.container-fluid {
    height: 100%;
    margin-top:1.5%
}
.sea_bar {
    flex-basis: auto;
    flex-direction: row;
    position: relative;
    top: 26px;
    left: 13px;
    width: 100%;
    height: 48px;
    background: #DDDDDD 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

    .sea_bar label {
        position: relative;
        padding-top: 16px;
        padding-left: 34px;
        font-family: 'Poppins-Bold';
        text-align: left;
        font-size: 13px;
        letter-spacing: 0.36px;
        color: #4A4A4A;
        opacity: 1;
        display: inline-block;
    }

    .sea_bar input {
        position: relative;
        display: inline-block;
        padding-left: 10px;
        border: none;
        left: 10px;
        width: 184px;
        height: 32px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
    }

.con3 {
    background-color: green;
    display: flex
}

.sea_bar button {
    position: relative;
    left: 14px;
    width: 72px;
    height: 32px;
    border-radius: 5px;
    border: none;
    color: white;
    background: #6B92E8 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: 'Poppins-Bold';
    font-size: 12px;
    top: -4px;
}

.createBtn {
    background-color: green;
}

.result_bar {
    position: relative;
    top: 40px;
    left: 13px;
    width: 100%;
    height: 48px;
    background: #09182F 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

    .result_bar ul li {
        display: inline-block;
        color: white;
        font-size: 12px;
        margin-right: 126px;
        font-family: 'Poppins-Bold';
    }

.modalBod {
    display: flex;
    margin: 10px;
}

.con {
    display: flex;
    margin-top: 4%;
    margin-left: 4%;
    /*align-self: center;*/
    justify-content: space-evenly;
    width: 93%;
    align-self: center;
    height: 523px;
    width: 93%;
    padding: 2.5%;
    /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
}

.conSearchHistory {
    display: flex;
    margin-top: 1%;
     
    /*align-self: center;*/
    justify-content: space-evenly;
    width: 93%;
    align-self: center;
    height: 523px;
    width: 93%;
    padding: 2.5%;
    /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
}

.con1 {
    width: 96.5%;
    align-self: center;
    margin-left: 36px;
    margin-right: 36px;
    height: 55px;
    padding-top: 9px;
    background: #212529 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
}

.no_results {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 60px;
}

    .no_results .no_res {
        font-family: 'Poppins-Regular';
        font-size: 12px;
        letter-spacing: 0.36px;
        color: #6C6C6C;
        opacity: 1;
    }

.left {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.right {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
    background: rgba(255, 241, 165, 0.29) 0% 0% no-repeat padding-box;
    border-radius: 5px;
}

.cen_text {
    width: 80%;
    word-break: break-all;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    letter-spacing: 0.36px;
    color: #272727;
    opacity: 1 !important;
}

.ref {
    position: absolute;
    top: 20px;
    left: 90px;
}

.eqType {
    position: absolute;
    top: 80px;
    left: 90px;
}

.seaType {
    position: absolute;
    top: 140px;
    left: 90px;
}

.firstname {
    position: absolute;
    top: 200px;
    left: 90px;
}

.inputBox {
    width: 50%
}

.surname {
    position: absolute;
    top: 260px;
    left: 90px;
}

.enquiryID,
.address,
.tel {
    position: absolute;
    left: 90px;
    top: 132px;
}

.idnumber {
    position: absolute;
    top: 320px;
    left: 90px;
}

    .ref label,
    .firstname label,
    .surname label,
    .idnumber label,
    .eqType label,
    .seaType label,
    .enquiryID label,
    .address label,
    .tel label {
        text-align: left;
        font-family: 'Poppins-SemiBold';
        font-size: 10px;
        letter-spacing: 0.3px;
        color: #555555;
        opacity: 1;
        margin-left: 12px;
        margin-bottom: -5px;
    }

.textInput {
    width: 280px;
    height: 32px;
    background: #E8E8E8 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    padding-left: 12px;
    font-size: 12px;
    margin-top: 5px
}

.labelArea {
    width: 180px;
    height: 32px;
    border-color: gray;
    border-width: 2px;
    border-radius: 5px;
    opacity: 1;
    font-size: 12px;
    margin-top: 5px;
    border-style: solid;
}

.buttonsCon {
    display: flex;
    bottom: 5%;
    width: 87%;
    position: absolute;
}

#Ref,
#FirstName,
#Surname,
#IDNumber,
#seatype,
#eqtype,
#enquiryID,
#address,
#tel {
    width: 352px;
    height: 32px;
    background: #E8E8E8 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    opacity: 1;
    padding-left: 12px;
    font-size: 12px;
}

.contentLabel {
    float: left;
}

.checkBoxDiv {
    justify-content: space-between
}

.cus-input {
    width: 352px;
    height: 32px;
    background: #E8E8E8 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    opacity: 1;
    padding-left: 12px;
    font-size: 12px;
}

.textLabel {
    font-size: 20px;
}

.modalTabs {
    display: none
}

.modal-back {
    background-color: #efefef;
}

.modal-design {
    background-color: red;
}

.com-form {
    display: flex;
    justify-content: center;
    position: relative;
    /* display: inline-block;*/
    /* top: 31px;*/
    left: 30px;
    width: 544px;
    height: 367px;
    padding-top: 10px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.com-btn {
    /* position: absolute;
top: 376px;
left: 290px;*/
    /* width: 152px;
height: 32px;
background: #00B46F 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
color: white;
font-family: 'Poppins-Bold';
font-size: 12px;*/

    float: right;
    width: 152px;
    height: 32px;
    background: #00B46F 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    color: white;
    font-family: 'Poppins-Bold';
    font-size: 12px;
    margin-top: 44px;
    position: relative;
    left: 80px;
}

#eqtype,
#seatype {
    text-align: right;
    font-family: 'Poppins-Regular';
    font-size: 12px;
    letter-spacing: 0.36px;
    color: #555555;
    opacity: 1;
}

    #eqtype option,
    #seatype option {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 0px 0px 8px 8px;
        text-align: right;
        float: right;
    }

.tc {
    display: flex;
    top: 380px;
    left: 220px;
    position: absolute;
    font-family: 'Poppins-Medium';
    font-size: 12px;
    flex-direction:column
}

.btn {
    position: absolute;
    top: 400px;
    left: 290px;
    width: 152px;
    height: 32px;
    background: #00B46F 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    color: white;
    font-family: 'Poppins-Bold';
    font-size: 12px;
}
.butn {
    position: absolute;
    top: 400px;
    left: 290px;
    width: 152px;
    height: 32px;
    background: #00B46F 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    color: white;
    font-family: 'Poppins-Bold';
    font-size: 12px;
}
.con2 {
    position: relative;
    top: 20px;
    left: 13px;
    width: 100%;
    /*height: 600px;*/
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    overflow: scroll;
    padding:2%
}

.headingCon {
    display: flex;
}

.con2::-webkit-scrollbar {
    display: none;
}

.left_col {
    /*position: relative;
    display: inline-block;
    top: 10px;
    */
    left: 10px;
    width: 184px;
    height: 580px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

.results {
    position: relative;
    top: 10px;
    left: 15px;
    width: 152px;
    height: 64px;
    background: #09182F 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

    .results p {
        position: relative;
        display: inline-block;
        text-align: center;
        font-family: 'Poppins-Regular';
        font-size: 15px;
        letter-spacing: 0.42px;
        color: #E8E8E8;
        top: -5px;
        left: 10px;
        opacity: 1;
    }

.num {
    position: relative;
    top: 15px;
    font-family: 'Poppins-SemiBold';
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #555555;
    opacity: 1;
}

.num2 {
    position: relative;
    top: 5px;
    font-family: 'Poppins-SemiBold';
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #555555;
    opacity: 1;
}

/*
.tabcontent {
display: none;
}
tabcontent:active {
display: block;
}
*/
.multi {
    position: relative;
    margin-top: 15px;
    left: 5px;
    border-width: 0;
    border-radius: 5px;
    opacity: 1;
    padding-left: 10px;
    padding-top: 9px;
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    letter-spacing: 0px;
    color: black
}

.tabcontent:active {
    display: block;
}

.btnNavigation {
    /* background-color:pink;*/
    width: 184px;
    height: 100px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

button {
    align-self: center;
    /* background: #fff;*/
    width: 184px;
    margin-top: 15px;
    border-width: 0;
    border-radius: 0px;
    opacity: 1;
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    color: black;
}

    button:hover {
        background: #5F5B5B;
        color: #fff;
    }

/*button.active {
background: #5F5B5B;
color: #fff;
}*/

.seaInfo {
    position: relative;
    top: 82px;
    text-align: center;
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    color: white;
    padding-top: 8px;
    width: 184px;
    height: 33px;
    background: #09182F 0% 0% no-repeat padding-box;
    opacity: 1;
}

.userInfo {
    position: relative;
    width: 100%;
    top: 100px;
}

    .userInfo p {
        position: relative;
        left: 20px;
        text-align: left;
        font-family: 'Poppins-Regular';
        font-size: 10px;
        letter-spacing: 0px;
        color: #6F7C97;
        opacity: 1;
    }

        .userInfo p span {
            position: relative;
            float: right;
            right: 40px;
        }

.right_col {
    /*position: absolute;*/
    /*display: inline-block;*/
    top: 10px;
    left: 220px;
    width: 100%;
  margin:1%;
    opacity: 1;
}

th {
    white-space: nowrap;
}

table {
    table-layout: fixed;
    width: 100%;
}

td {
    width: 25%;
} 
.seaRes {
    position: relative;
    width: 100%;
    height: 35px;
    background: #09182F 0% 0% no-repeat padding-box;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    text-align: left;
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    padding-top: 9px;
    padding-left: 22px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

th {
    text-align: left;
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    letter-spacing: 0px;
    color: #333237;
    opacity: 1;
    border-right: 1px solid #AAAAAA;
}

.last {
    border: none;
}

td {
    font-family: 'Poppins-Regular';
    font-size: 11px;
    border-right: 1px solid #AAAAAA;
}

.seaMore {
    float: right;
    position: relative;
    width: 85px;
    padding-top: 4px;
    padding-left: 8px;
    font-family: 'Poppins-SemiBold';
    font-size: 10px;
    height: 25px;
    border: 1px solid #2981E6;
    border-radius: 10px;
    color: #2981E6;
    opacity: 1;
    transition: 0.7s;
}

    .seaMore:hover {
        text-decoration: none;
        border: 1px solid white;
        background: #2981E6;
        border-radius: 10px;
        color: white;
    }

#notification {
    margin-bottom: 10px;
}

.not {
    width: 850px;
    height: 82px;
    top: -10px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid #E4E0E0;
    opacity: 1;
    position: relative;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    letter-spacing: 0px;
    color: #DD3D3D;
    padding: 10px;
    transition: 1.8s;
}

.SeaInfo,
.PerInfo,
.HomeInfo,
.TeleHis,
.EmpHis {
    width: 100%;
    top: -10px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid #E4E0E0;
    opacity: 1;
    position: relative;
    margin-bottom: 10px;
}

.coll {
    float: right;
    position: relative;
    right: 20px;
    cursor: pointer;
}

/*.expt{
width: 66px;
height: 25px;
background: #0097B2 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
display: inline-block;
position: absolute;
top: 10px;
}*/

.thatrow {
    width: 100%;
    /*max-width: 99%;
margin-bottom: 20px;*/
    justify-content: space-evenly
}

.col_header {
    width: 12%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.table_sub_heading {
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.colspace {
    width: 14%;
    padding: 8px;
    font-size: 10px;
    float: left;
    border-bottom: 1px solid;
    line-height: 2;
    max-height: 30px;
    overflow: hidden;
}

.colspaceHeading {
    width: 14%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 8px;
    font-weight: bold;
    padding: 8px;
    border-bottom: 1px solid;
}

.col_headerTel {
    width: 33%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 8px;
    font-weight: bold;
    padding: 8px;
    border-bottom: 1px solid;
}

.colspaceTel {
    width: 33%;
    padding: 8px;
    font-size: 10px;
    float: left;
    border-bottom: 1px solid;
    line-height: 2;
    max-height: 30px;
    overflow: hidden;
}

.col_header5 {
    width: 14%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 8px;
    font-weight: bold;
}

.colspace5 {
    width: 14%;
    padding: 8px;
    font-size: 10px;
    float: left;
    border-bottom: 1px solid;
    line-height: 2;
    max-height: 30px;
    overflow: hidden;
}

.col_header1 {
    width: 23%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 8px;
    font-weight: bold;
}

.colspace1 {
    width: 23%;
    padding: 8px;
    font-size: 10px;
    float: left;
    border-bottom: 1px solid;
    line-height: 2;
    max-height: 30px;
    overflow: hidden;
}

.col_headerEM {
    width: 26%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 8px;
    font-weight: bold;
}

.colspaceEM {
    width: 26%;
    padding: 8px;
    font-size: 10px;
    float: left;
    border-bottom: 1px solid;
    line-height: 2;
    max-height: 30px;
    overflow: hidden;
}

.col_header2 {
    width: 26%;
    font-size: 10px;
    float: left;
    background-color: #263245;
    color: white;
    padding: 8px;
    font-weight: bold;
}

.colspace2 {
    width: 26%;
    padding: 8px;
    font-size: 10px;
    float: left;
    border-bottom: 1px solid;
    line-height: 2;
    max-height: 30px;
    overflow: hidden;
}

.colspace :nth-child(even) {
    background-color: #DFE3E9;
}

.colspace1 :nth-child(even) {
    background-color: #DFE3E9;
}

.colspace2 :nth-child(even) {
    background-color: #DFE3E9;
}

.com {
    font-family: 'Poppins-Regular';
    font-size: 11px;
}

/* user Management */

.pls {
    display: flex !important;
    background-color: #FAE6C0;
    color: #D56C03;
    padding-top: 14px;
    margin-top: 21px;
}

.ro {
    margin-left: 14px !important;
}

.btns-active {
    border-radius: 10px;
    background: #00BECE;
    width: 100%;
    height: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
}

.viewBtn {
    text-decoration: underline;
    text-decoration-color: yellow;
}

.createBtn {
    width: 142px;
    background: #00BECE;
    width: 142px;
    height: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btns {
    border-radius: 10px;
    background: #A1B6C1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
}

.active {
    border-radius: 10px;
    /*   background-color: #00BECE;*/
    width: 100%;
    height: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
}

.btns:hover {
    border-radius: 10px;
    background: #00BECE;
    width: 100%;
    height: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
}

.btn-row {
    /*padding-right: 125px;
    padding-left: 19px;*/
}

.btns:focus {
    outline: 0 !important;
    background: #00BECE;
    outline: none;
}

#btns-sel {
    outline: 0 !important;
    background: #00BECE;
    outline: none;
}

.btns-active :focus {
    outline: 0 !important;
}

.com-row {
    padding-top: 28px;
}

.com-div {
    width: 100%;
    margin-top: 11px;
    background: #DDDDDD;
    margin-left: 36px;
    margin-right: 36px;
    border-radius: 10px;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
    height: 62px;
}

.com-p {
    padding-top: 13px;
    padding-left: 20px;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
}

.blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card-form {
    margin-left: 36px;
    margin-right: 36px;
}

.ro-3 {
    margin-top: 15px;
}

.ro-2 {
    margin-top: 17px;
}

td, th {
    vertical-align: middle;
}

.inp {
    position: relative;
    left: 29%;
}

.custom-control.ios-switch {
    --color: #4cd964;
    padding-left: 0;
}

    .custom-control.ios-switch .ios-switch-control-input {
        display: none;
    }

        .custom-control.ios-switch .ios-switch-control-input:active ~ .ios-switch-control-indicator::after {
            width: 20px;
        }

        .custom-control.ios-switch .ios-switch-control-input:checked ~ .ios-switch-control-indicator {
            border: 10px solid var(--color);
        }

            .custom-control.ios-switch .ios-switch-control-input:checked ~ .ios-switch-control-indicator::after {
                top: -8px;
                left: 4px;
            }

        .custom-control.ios-switch .ios-switch-control-input:checked:active ~ .ios-switch-control-indicator::after {
            left: 0px;
        }

        .custom-control.ios-switch .ios-switch-control-input:disabled ~ .ios-switch-control-indicator {
            opacity: .4;
        }

    .custom-control.ios-switch .ios-switch-control-indicator {
        display: inline-block;
        position: relative;
        margin: 0 10px;
        top: 4px;
        width: 32px;
        height: 20px;
        background: #fff;
        border-radius: 16px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border: 2px solid #ddd;
    }

        .custom-control.ios-switch .ios-switch-control-indicator::after {
            content: '';
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            top: 0px;
            left: 0px;
            background: #fff;
            -webkit-box-shadow: 0 0 2px #aaa, 0 2px 5px #999;
            box-shadow: 0 0 2px #aaa, 0 2px 5px #999;
        }

.color {
    color: white !important;
}

th, td {
    float: left;
    text-align: center;
    width: 11.6% !important;
}

.t-row {
    display: flex !important;
    align-items: center !important;
}

.t-col {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

/* .scrl {
overflow: scroll;
height: 424px;
}
*/

.my-custom-scrollbar {
    position: relative;
    /*height: 418px;*/
    overflow: auto;
}

.inp-b {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    border: none;
    width: 184px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
.row {
/*display:flex;*/
flex-wrap:nowrap;
margin-right:0;
margin-left:0;
justify-content:flex-start;
    width:100%

}
.rowTable {
    display:flex;
    flex-wrap: nowrap;
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    width: 100%
}
.btn-b {
    position: relative;
    left: 14px;
    /*width: 100px;*/
    height: 32px;
    border-radius: 5px;
    border: none;
    color: white;
    background: #6B92E8 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: 'Poppins-Bold';
    font-size: 12px;
}

.btnSpace {
    margin: 10px;
}

.btnSpace-cancel {
    margin: 10px;
    background-color: #4CAF50
}

.btn-b2 {
    position: relative;
    left: -15px;
    width: 117px;
    height: 32px;
    border-radius: 5px;
    border: none;
    color: white;
    background: #00b46f 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: 'Poppins-Bold';
    font-size: 12px;
    float: right;
}

.heading2 {
    margin-top: 40%
}

.btn-b2-cancel {
    position: relative;
    left: -15px;
    width: 117px;
    height: 32px;
    border-radius: 5px;
    border: none;
    color: white;
    background: gray 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: 'Poppins-Bold';
    font-size: 12px;
    float: right;
}

.search-b {
    display: flex;
    align-items: center;
}

.in-mar {
    margin-left: 20px;
    position: relative;
    top: 6px;
}

.my-form-inline {
    display: flex;
    flex-wrap: nowrap !important;
}

.search-label {
    position: relative;
    top: 6px;
    font-weight: bold;
}

.modal-body textarea {
    height: 100px !important;
}

.ap {
    margin-top: 46px;
    margin-right: 46px;
    margin-bottom: 14px;
    margin-left: 54px;
}

.rad {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 8px;
    margin-top: 23px;
    margin-left: 16px;
    border: 1px solid #E8E8E8;
    width: 349px;
    height: 32px;
    align-items: baseline;
    border-radius: 5px;
}

.rad-lab {
    position: relative;
    bottom: 13px;
    font-weight: 600;
}

.addr {
    width: 90% !important;
    margin-bottom: 11px;
}
 
.con2 {
    
    width: 100%;
    align-self: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    display:flex;
    flex-direction:row

}

#listBox {
    height: 100%;
    border: none;
}

.jc {
    display: block;
    width: 103.5%;
}

.rad2 {
    position: relative;
    bottom: 62px;
    left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 8px;
    margin-top: 23px;
    margin-left: 16px;
    /* border: 1px solid #E8E8E8; */
    width: 349px;
    height: 32px;
    align-items: baseline;
    border-radius: 5px;
}



.tabs-btn {
    background: white;
    height: 43px;
    border-radius: 3px;
}

#tabs-btn {
    align-self: center;
    /* background: #fff; */
    width: 184px;
    margin-top: 15px;
    border-width: 0;
    border-radius: 0px;
    opacity: 1;
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    color: black;
    cursor: pointer;
    /*    display: flex;
        align-items: center;
        justify-content: center;*/
}

.tabs-row {
    margin-left: 40px;
}

#tabs-close {
    position: relative;
    float: right;
    bottom: 9px;
    color: red;
    cursor: pointer;
    top: 8px;
    right: 13px;
    color: red;
}

/*.display {
}

.none {
    display: none;
}*/

.tab-txt {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    margin-top: 8%;
    font-size: 9px;
}

#tabs-btn:hover {
    background: #f7f7f7
}
