
@font-face {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins-SemiBold'), url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins-Medium'), url(../fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins-Regular'), url(../fonts/Poppins-Regular.ttf) format('truetype');
}


html, body {
    background-image: url("../img/Request Account BG.png");
    padding: 0;
    margin: 0;
    width: 100%;
}

#imgs {
    position: absolute;
    top: 25px;
    left: 60px;
}

.signin {
    display: inline-block;
    position: relative;
    top: 66px;
    right: -50px;
    width: 415px;
    height: 618px;
    background: transparent linear-gradient(180deg, #09182F 0%, #011A44 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 6px #00000029;
    border-radius: 30px 0px 0px 30px;
    opacity: 1;
}

.signuplandingform {
    display: inline-block;
    position: relative;
    top: 66px;
    left: 46px;
    width: 843px;
    height: 618px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 30px 30px 30px 30px;
    opacity: 1;
}

.head {
    position: absolute;
    top: 80px;
    left: 638px;
    text-align: center;
    font: SemiBold 31px/38px Poppins;
    font-size: 31px;
    font-family: 'Poppins-SemiBold';
    letter-spacing: 0.93px;
    color: #011943;
    opacity: 1;
    z-index: 1;
    width: 100%;
}

.log3 {
    position: absolute;
    top: 190px;
    left: 618px;
    width: 392px;
    height: 56px;
    background: #E8E8E8 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Poppins-Medium';
    border: none;
    opacity: 1;
    padding-left: 60px;
    z-index: 1;
}



.log {
    position: absolute;
    top: 270px;
    left: 618px;
    width: 392px;
    height: 56px;
    background: #E8E8E8 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Poppins-Medium';
    border: none;
    opacity: 1;
    padding-left: 60px;
    z-index: 1;
}

.log2 {
    position: absolute;
    top: 350px;
    left: 618px;
    width: 392px;
    height: 56px;
    background: #E8E8E8 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Poppins-Medium';
    border: none;
    opacity: 1;
    padding-left: 60px;
    z-index: 1;
}

#email {
    position: absolute;
    top: 288px;
    left: 640px;
    z-index: 10;
}

#pass {
    position: absolute;
    top: 367px;
    left: 643px;
    z-index: 10;
}

#name {
    position: absolute;
    top: 213px;
    left: 640px;
    z-index: 10;
}

.sub {
    position: absolute;
    top: 444px;
    left: 726px;
    width: 278px;
    height: 66px;
    background: #011943 0% 0% no-repeat padding-box;
    border-radius: 37px;
    opacity: 1;
    font-family: 'Poppins-SemiBold';
    font-size: 21px;
    color: white;
    border: none;
    z-index: 1;
}

.forgot {
    position: absolute;
    top: 522px;
    right: 365px;
    height: 21px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Poppins-SemiBold';
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #555555;
    opacity: 1;
}


.hello {
    position: absolute;
    top: 160px;
    left: 100px;
    text-align: center;
    font-family: 'Poppins-SemiBold';
    font-size: 31px;
    letter-spacing: 0.93px;
    color: #FFFFFF;
    opacity: 1;
}

.enter {
    position: absolute;
    top: 248px;
    left: 114px;
    width: 221px;
    text-align: center;
    font-family: 'Poppins-Regular';
    font-size: 10px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    opacity: 1;
}

.sub2 {
    position: absolute;
    top: 405px;
    left: 130px;
    width: 184px;
    height: 44px;
    border: 3px solid #FFFFFF;
    background: #011943 0% 0% no-repeat padding-box;
    font-family: 'Poppins-SemiBold';
    border-radius: 37px;
    opacity: 1;
    color: white;
}
