
@font-face {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins-SemiBold'), url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins-Medium'), url(../fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins-Regular'), url(../fonts/Poppins-Regular.ttf) format('truetype');
}

 
/*html {
    background-image: url("../img/Sign In BG.png");
    padding: 0;
    margin: 0;
    background-position-x: center;
    background-repeat: no-repeat;
    text-align: center;
}
*/
body {
    background-image: url("../img/Sign In BG.png");
    padding: 0;
    margin: 0;
    background-position-x: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover
}
#imgs{
    position: absolute;
    top: 25px;
    left: 60px;
}

.signin {
    position: relative;
    display: inline-block;
    top: 66px;
    width: 415px;
    height: 618px;
    background: transparent linear-gradient(180deg, #09182F 0%, #011A44 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 6px #00000029;
    border-radius: 0px 30px 30px 3px;
    opacity: 1;
}

.signup {
    display: inline-block;
    position: relative;
    top: 66px;
   
    width: 843px;
    height: 618px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 30px 0px 0px 30px;
    opacity: 1;
}

.head{
    position: absolute;
    top: 80px;
    left: 220px;
text-align: center;
font: SemiBold 31px/38px Poppins;
font-size: 31px;
font-family: 'Poppins-SemiBold';
letter-spacing: 0.93px;
color: #011943;
opacity: 1;
}

.tag{
    position: absolute;
    top: 140px;
left: 350px;

height: 21px;
text-align: center;

font-size: 15px;
font-family: 'Poppins-Medium';
letter-spacing: 0.45px;
color: #555555;
opacity: 1;
}

.log{
    position: absolute;
    top: 240px;
left: 227px;
width: 392px;
height: 56px;
background: #E8E8E8 0% 0% no-repeat padding-box;
border-radius: 10px;
font-size: 14px;
font-family: 'Poppins-Medium';
border: none;
opacity: 1;
padding-left: 60px;
}

.log2{
    position: absolute;
    top: 320px;
left: 227px;
width: 392px;
height: 56px;
background: #E8E8E8 0% 0% no-repeat padding-box;
border-radius: 10px;
font-size: 14px;
font-family: 'Poppins-Medium';
border: none;
opacity: 1;
padding-left: 60px;
}

#email{
    position: absolute;
    top: 258px;
    left: 240px;
    z-index: 1;
}

#pass{
    position: absolute;
    top: 336px;
    left: 240px;
    z-index: 1;
}

.sub{
    position: absolute;
    top: 424px;
left: 316px;
width: 278px;
height: 66px;
background: #011943 0% 0% no-repeat padding-box;
border-radius: 37px;
opacity: 1;
font-family: 'Poppins-SemiBold';
font-size: 21px;
color: white;
border: none;
cursor:pointer;
}

.forgot{
    position: absolute;
    top: 522px;
left: 365px;

height: 21px;
text-align: center;
text-decoration: underline;
font-family: 'Poppins-SemiBold';
font-size: 15px;
letter-spacing: 0.3px;
color: #555555;
opacity: 1;
}


.hello{
    position: absolute;
    top: 160px;
right:  100px;
text-align: center;
font-family: 'Poppins-SemiBold';
font-size: 31px;
letter-spacing: 0.93px;
color: #FFFFFF;
opacity: 1;
}

.enter{
    position: absolute;
    top: 260px;
right:  75px;;
text-align: center;
font-family: 'Poppins-Regular';
font-size: 10px;
letter-spacing: 0.3px;
color: #FFFFFF;
opacity: 1;
}

.sub2{
    position: absolute;
    top: 451px;
right:  110px;
width: 184px;
height: 44px;
border: 3px solid #FFFFFF;
background: #011943 0% 0% no-repeat padding-box;
font-family: 'Poppins-SemiBold';
border-radius: 37px;
opacity: 1;
color: white;
}
